.nav-container {
  display: flex;
  align-items: center;
  height: 50vh;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.content {
  flex-grow: 1;
}

.footer {
  height: 50vh;
  background-color: purple;
}
